@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#project{
    padding-top: 95px;
    #section3{
        position: relative;
        display: flex;
        height: 815px;
        font-family: 'GangwonEdu_OTFBoldA';
        justify-content: center;
        align-items: center;
        .project-wrap{
            h2{
                font-size: 40px;
                margin-bottom: 120px;
                text-align: center;
            }
            .kurly-box{
                display: flex;
                flex-direction: row;
                .kurly-img-box{
                    border: 5px solid black;
                    border-radius: 5px;
                    position: relative;
                    width: 500px;
                    height: 247px;
                    img{
                        position: absolute;
                        width: 100%;
                        cursor: pointer;
                    }
                }
                .kurly-text-box{
                    margin-left: 30px;
                    line-height: 25px;
                    font-size: 18px;
                    h3{
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                    a{
                        img{
                            width: 30px;
                        }
                    }
                    .kurly-link{
                        border:1px solid black;
                        border-radius: 3px;
                        background-color: rgb(179, 176, 176);
                        color: black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 30px;
                        width: 70px;
                        margin-top: 30px;
                    }
                }
            }  
        }
    }
}