@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#skill{
    padding-top: 95px;
    #section2{
        position: relative;
        display: flex;
        height: 850px;
        font-family: 'GangwonEdu_OTFBoldA';
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        h2{
            font-size: 40px;
            margin-bottom: 120px;
            text-align: center;
            top:150px;
            left: 50%;
        }
        .skill-div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:70px;
            justify-content: center;
            div{
                display: flex;
                flex-flow: column wrap;
                gap: 10px;
                h3{
                    font-size: 30px;
                }
            }
        }
    }
}